@import '../../styles/variables.scss';

.start {
  width: 210px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__picture {
    margin: 0 0 47px 0;
  }

  &__descr {
    font-size: 22px;
    line-height: 140%;
    color: $color-grey;
  }
}
