@import '../../styles/variables.scss';

.pagination {
  color: $color-grey;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  gap: 16px;
  padding: 2px 0;
  user-select: none;
  cursor: pointer;

  &__pages {
    display: flex;
    gap: 16px;
  }
  &__button {
    color: $color-grey;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background: $color-blue;
      border-radius: 3px;
      color: $color-white;
      padding: 0 6px;
    }
  }
  &__break {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 9px 6px 8px;
  }
  .arrow {
    &_right {
      position: relative;
      transform: rotate(180deg);
    }
    & * {
      fill: $color-grey;
    }
    &:hover {
      * {
        fill: $color-blue;
      }
    }
  }
}
