@import './nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import './variables.scss';

* {
  font-family: 'Inter', 'Times New Roman', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body {
  color: $color-black;
}
#root {
  height: 100%;
}

.app {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 1299px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  background: $color-grey-light;
  display: flex;
  &__container {
    display: flex;
    gap: 85px;
  }
}
