@import '../../styles/variables.scss';

.empty {
  width: calc(156 / 1366 * 100%);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__picture {
    margin: 0 0 42px 0;
  }

  &__descr {
    font-size: 22px;
    line-height: 140%;
    color: $color-grey;
  }
}
